.header {
    height: 60px !important; 
    display: grid;
    grid-template-columns: repeat(7,1fr);
    box-shadow: 0px 2px grey;
    padding: 15px;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    align-self: center;
    justify-self: center;
    color: gray;
}

.searchBar {
    grid-column: 5/7;
    height: 50px;
    align-self: center;
    border: 1px solid lightgray;
}

.cart {
    grid-column: 7/8;
    align-self: center;
    justify-self: center;
    display: -webkit-box;
    display: flex;
}

.cart > span {
    font-size: 25px;
    margin-left: 8px;
    align-self: center;
}