.header {
    height: 70px !important; 
    display: flex;
    flex-flow: row wrap;
    /* grid-template-columns: repeat(7,1fr); */
    border:1px solid black;
    border-width: 1px 1px 0px 1px;
    box-shadow: 0px 2px grey;
    padding: 13px;
    margin-top: 5px;
    
}
.icon{
    padding: 10px;
    flex: 0 1 10%;
}
.logo {
    font-size: 25px;
    font-weight: bold;
    align-self: center;
    justify-self: center;
    color: gray;
    float: right;
    flex: 0 1 30%;
}

.searchBar {
    float:right;
    height: 50px;
    align-self: center;
    border: 1px solid lightgray;
    flex: 0 1 60%;
}

.cart {
    align-self: center;
    justify-self: center;
    display: flex;
    
}

.cart > span {
    font-size: 25px;
    margin-left: 8px;
    align-self: center;
}